@model PruebaTecniaAB.Models.ViewModels.LoginVM;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />

    <title>Index</title>
</head>
<body>
    <div class="login">
        <div class="login-form log bg-light">
            <div class="headLogin">
                <div class="headcap">
                    <h3 class="text-center mb-4">Sign In</h3>
                </div>
            </div>
            <div class="bodyLogin">
                <form asp-action="Login" method="post">
                    <div class="mb-3">
                        <label asp-for="FirstName" class="form-label">User</label>
                        <input class="form-control" asp-for="FirstName" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" asp-for="Clave" class="form-label">Password</label>
                        <input type="password" asp-for="Clave" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
