* {
    margin: 0;
    padding: 0;
}
.card {
    padding: 0;
}

form {
    padding: 0 !important;
}
.card-header {
    background-color: #1A6E73;
    color: white;
}

.btnAdd {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: green;
    border: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.btnLess {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: red;
    border: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.cont {

    display: block;

}

.frtDtos {
    display: flex;
}

.totalinfo {
    width: 100px;
}

.clientinfo {
    width: 100%;
}

.contSales {
    height: 200px;
    max-width: 100%;
    overflow-y: auto;
    position: relative;
}

#salelist > thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}


#salelist > tbody {
    border-top: none;
}

#total {
    font-size: 1rem;
    font-weight: bold;
}

.headcont {
    background-color: #1A6E73;
    color: white;
}

   


