@model PruebaTecniaAB.Models.User;
@{
    ViewData["Title"] = "User_Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        @if (Model.IdUser == 0)
        {

            <h1>Create New User</h1>

        }
        else
        {

            <h1>Update User Information</h1>

        }
    </div>
    <div class="card_body cardUser">
        <form asp-action="User_Detail" asp-controller="User" method="post">

            <input type="hidden" asp-for="IdUser" />

            <div class="mb-2">

                <label class="form-label" asp-for="FirstName">First Name</label>
                <input class="form-control form-control-sm" asp-for="FirstName" type="text" />
                <span asp-validation-for="FirstName" class="text-danger"></span>

            </div>

            <div class="mb-2">

                <label class="form-label" asp-for="LastName">Last Name</label>
                <input class="form-control form-control-sm" asp-for="LastName" type="text" />
                <span asp-validation-for="LastName" class="text-danger"></span>

            </div>

            <div class="mb-2">

                <label class="form-label" asp-for="Mail">Mail</label>
                <input class="form-control form-control-sm" asp-for="Mail" type="email" />
                <span asp-validation-for="Mail" class="text-danger"></span>

            </div>

            @if (Model.IdUser == 0)
            {

                <div class="mb-2">

                    <label class="form-label" asp-for="Password">Password</label>
                    <input class="form-control form-control-sm" asp-for="Password" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>

                </div>
            }
            else
            {
                <input type="hidden" asp-for="Password" />
            }

            <div class="mb-2">

                <label class="form-label" asp-for="Role">Role</label>
                <input class="form-control form-control-sm" asp-for="Role" type="text" />
                <span asp-validation-for="Role" class="text-danger"></span>

            </div>

            <div class="mb-2">

                @if (Model.IdUser == 0)
                {

                    <button class="btn btn-success btn-sm" type="submit">Create</button>

                }
                else
                {

                    <button class="btn btn-primary btn-sm" type="submit">Update</button>

                }

                <a class="btn btn-dark btn-sm" asp-action="Index" asp-controller="User">Cancel</a>

            </div>

        </form>
    </div>
</div>
@* <div class="row">
    <div class="col col-sm-4">

        
    </div>
</div> *@
